body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(3, 34, 30);
  background: linear-gradient(
    90deg,
    rgba(3, 34, 30, 1) 0%,
    rgba(3, 37, 45, 1) 35%,
    rgba(64, 88, 99, 1) 100%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  html {
    font-family: "Work Sans", sans-serif;
  }
}
